  <div class="control-group">
    <label class="control-label" for="f_ph">资金编号</label>
    <div class="controls">
      <%=text_field_tag 'f_bh',params["f_bh"]%>
    </div>
    <label class="control-label" for="f_pch">客户名称</label>
    <div class="controls">
      <%=text_field_tag 'f_khmc',params["f_khmc"]%>
    </div>
     <label class="control-label" for="f_cpms">产品描述</label>
    <div class="controls">
      <%=text_field_tag 'f_cpr',params["f_cpms"]%>
    </div>
  </div>	