  <div class="control-group">
    <div class="controls">
      <label class="control-label" for="f_ph">资金编号：</label>    
      <%=text_field_tag 'f_bh',params["f_bh"]%>
    </div>
    <div class="controls">
      <label class="control-label" for="f_pch">客户名称：</label>    
      <%=text_field_tag 'f_khmc',params["f_khmc"]%>
    </div>
    <div class="controls">
     <label class="control-label" for="f_cpms">产品描述：</label>    
      <%=text_field_tag 'f_cpr',params["f_cpms"]%>
    </div>
  </div>	