<h4>资金录入管理</h4>
<%=form_tag  lrsq_zjtzs_path, method: :put do%>
<table>
  <tr>
    <th>&nbsp;</th>
	<th>资金编号</th>
  </tr>
<%=@zjtzs.each do%>
  <tr>
  	
  </tr>	
<% end %>
</table>

<% end %>