<li> 
  <%= link_to user.email+' : '+user.name, adminEdit_user_path(user) %>
  <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "删除", user, method: :delete,
                    data: { confirm: "您确认删除?" } %>
  <% end %>
</li>