<% provide(:title, '用户列表') %>
<h1>用户列表</h1>
<%= will_paginate %>
<ul class="users">
  <%=render @users%>
</ul>
<%= form_tag new_user_path, method: :get do |f| %>
  <%= submit_tag "新建", class: 'btn btn-large btn-primary'%>
<% end %>
